* {
    margin: 0;
    padding: 0;
}

@media (min-width: 370px) and (max-width: 1365px) {
    html,
    body {
        width: 100%;
    }
    .main-section {
        width: 100%;
        height: 30rem;
    }
    .mobile-hide{
        display:none;................................................................................
    }
}

@media (min-width: 1366px) {
    html {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: auto;
    }

    body {
        background-color: #ececee;
        margin-left: auto;
        margin-right: auto;
        height: 95%;
        width: 97%;
    }

    header {
        padding-top: 1em;
        height: 50px;
    }

    main {
        width: 100%;
        height: 90%;
        display: flex;
    }

    .logo-alura {
        width: 120px;
        height: 48px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .main-section {
        height: 100%;
        width: 65%;
        margin-top: 30px;
    }

    .main-textarea {
        width: 80%;
        height: 70%;
        display: block;
        margin: auto;
        margin-top: 15px;
        resize: none;

        /*Hace que el fondo sea invisible*/
        background: transparent;
        border: none;
        outline: none;

        /*modifico fuente*/
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        color: #0a3871;
    }

    .rules-container {
        display: flex;
        width: 100%;
        margin-left: 15%;
        margin-top: 1em;
    }

    .exclamation-logo {
        width: 16px;
        height: 16px;
    }

    .rules-text {
        color: #495057;
        margin-left: 2px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 150%;
    }

    .button-container {
        margin-top: 2em;
        text-align: center;
        /* Auto layout */
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 100px;
    }

    .button-container > * {
        margin-left: auto;
        margin-right: auto;
    }

    .btn-encrypt {
        width: 328px;
        height: 67px;
        background: #0a3871;
        border-color: #0a3871;
        border-width: 1px;
        border-radius: 24px;

        /*Texto*/
        color: #d8dfe8;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }

    .btn-decrypt {
        width: 328px;
        height: 67px;
        background: #d8dfe8;
        border-color: #0a3871;
        border-width: 1px;
        border-radius: 24px;

        /*Texto*/
        color: #0a3871;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }

    .result-section {
        margin-left: 3%;
        height: 98%;
        width: 30%;
    }

    .result-interaction-container {
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        background: #ffffff;
        /* shadow */
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
        align-content: center;
    }
    .munieco-container {
        width: 90%;
        height: 55%;
        padding-top: 4em;
        margin: 0 auto;
        text-align: center;
        overflow: hidden;
    }

    .munieco-image {
        height: 80%;
        width: 80%;
    }

    .error-msg-container {
        width: 100%;
        height: 10%;
        text-align: center;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 1.8em;
        font-weight: bold;
        line-height: 100%;

        /* or 29px */
        text-align: center;

        /* Gray/gray-500 */
        color: #343a40;
    }

    .paragraph-container {
        width: 100%;
        height: 20%;
        margin-top: 1em;
        text-align: center;

        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 150%;

        /* Gray/gray-400 */
        color: #495057;
    }

    .result-container {
        width: 100%;
        height: 100%;
        padding: 25px;
        box-sizing: border-box;
    }

    .encrypted-text {
        overflow: auto;
        height: 85%;
        margin-bottom: 1em;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 150%;
        word-wrap: break-word;

        /* or 36px */

        /* Gray/gray-400 */
        color: #495057;
    }

    .copy-btn-container {
        width: 100%;
        height: 20%;
    }

    .btn-copy {
        width: 90%;
        height: 50%;
        display: block;
        margin: auto;
        border: 1px solid #0a3871;
        border-radius: 24px;

        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 19px;
        text-align: center;
        color: #0a3871;
    }

    footer {
        width: 100%;
        margin-top: 1.5em;
        height: 50px;
    }

    .hide {
        display: none;
    }
}
