*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F3F5FC;
}

header{
    margin-top: 20px;
    width: 100%;
    height: 50px;

}

main{
    width: 100%;
    height: 90%;
    display: flex;

}


.main-section{
    height: 100%;
    width: 65%;
    margin-top: 30px;
}

.main-textarea{
    width: 80%;
    height: 70%;
    display: block;
    margin: auto;
    margin-top: 15px;
    resize: none;
    
    /*Hace que el fondo sea invisible*/
    background: transparent;
    border: none;
    outline: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

.rules-container{
    width: 100%;
    display: flex;
    margin-left: 15%;
    margin-top: 10px;
}

.exclamation-logo{
    width: 16px;
    height: 16px;
}

.rules-text{
    color: #495057;
    margin-left: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
}


.button-container{
    margin-top: 35px;
    margin-left: 15%;
    text-align: center;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 100px;
}

.btn-encrypt{  
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-color: #0A3871;
    border-width: 1px;
    border-radius: 24px;
    
    /*Texto*/
    color: #D8DFE8;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.btn-decrypt{
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border-color: #0A3871;
    border-width: 1px;
    border-radius: 24px;

    /*Texto*/
    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}



.result-section{
    height: 95%;
    width: 25%;
    /* White */
    background: #FFFFFF;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.munieco-container{
    width:90%;
    height: 60%;
    padding-top: 100px;
    text-align: center;
    box-sizing: border-box;
}

.error-msg-container{
    width:100%;
    height: 10%;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;

    /* or 29px */
    text-align: center;

    /* Gray/gray-500 */
    color: #343A40;
}

.paragraph-container{
    width:100%;
    height: 20%;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    /* Gray/gray-400 */
    color: #495057;
}

.result-container{
    width:100%;
    height: 100%;
    padding: 25px;
    box-sizing: border-box;
}

.encrypted-text{
    height: 90%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 150%;
    word-wrap: break-word;
    
    /* or 36px */

    /* Gray/gray-400 */
    color: #495057;
}

.copy-btn-container{
    width:100%;
    height: 20%;
}

.btn-copy{
    width: 336px;
    height: 67px;
    display: block;
    margin: auto;
    border: 1px solid #0A3871;
    border-radius: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}

footer{
    width: 100%;
    height: 50px;
    background-color: coral;
}


.hide{
    display: none;
}